* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

nav,footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 16px;
} 

/*--------------------*/
/* Header */

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1440px;
    min-height: 100%;
}
.header {
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 163px;
    position: relative;
}
.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 5px;
}
.header__ico {
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 3rem 0 8rem 0;
}
.head__ico h2 {
    color: #5282F0;
    font-family: Product Sans;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.48px;
}
.header__text h1 {
    width: 60%;
    color: var(--333333, #333);
    font-family: Lato;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.32;
    letter-spacing: 1.08px;
    margin-bottom: 30px;
}
.header__text p {
    color: var(--4-f-4-f-4-f, #4F4F4F);
    font-family: Lato;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.44;
    width: 45%;
    margin-bottom: 50px;
}
.head__img {
    position: absolute;
    top: 0;
    right: -290px;
}
.head__link a {
    margin-right: 15px;
}

.main__section-1 {
    width: 1440px;
    height: 592px;
    margin-top: 109px;
    background: url("./img/sect1_bg.png") bottom left no-repeat;
    
}

.container_bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%), rgba(255, 255, 255, 0.50);

    }

.container_bg {
    display: flex;
    justify-content: space-between;
    gap: 20%;
    position: relative;
    padding-top: 7rem;
}

.container_video {
    
    width: 797px;
    gap: 5rem;
}

.clubs {
    padding-left: 10px;
    width: 360px;
    height: 218.057px;
    flex-shrink: 0;
    position: inherit;
    margin-left: 163px ;
    border-radius: 4px;
    background: #FFF;
    z-index: 1;
    box-shadow: -22.04164695739746px 23.878454208374023px 48.9814453125px 0px rgba(0, 0, 0, 0.50);  
    

}

.clubs p, h3 {
    padding-left: 15.74px;
    padding-top: 27.26px;
    gap: 13px;

}

.clubs p {
    color: #4F4F4F;
    font-family: Lato;
    font-size: 16.783px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%; 
}   

.clubs h3 {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%; 
}

.friendly  {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%; 
}

.clubs__icons-fc {
    position: relative;
}

.clubs__arsenalfc {
    position:absolute;
    top: -132px;
    right: 78px;
}

.clubs__chelseafc {
    position: absolute;
    top: -129px;
    right: 9px;
}

.turn_notification {
    margin: 10px;
}

.turn_notification_label {
    margin-right: 33px;
}


.what {
    color: var(--brand-colour, #00ADEE);
    font-family: Lato;
    font-weight: 700;
    line-height: 1.32;
    margin-bottom: 27px;
}

.main-1 {
    color: var(--333333, #333);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.32;
    margin-bottom: 27px;
}

.main-text-1 {
    color: var(--4-f-4-f-4-f, #4F4F4F);
    font-family: Lato;
    font-weight: 400;
    line-height: 1.44;
    margin-bottom: 22px;
}

.anchor {
    color: var(--brand-colour, #00ADEE);
    font-family: Lato;
    font-weight: 700;
    line-height: 1.32;
}

.ft-match {
    position: absolute;
    top: 283px;
    left: 19.599999999999994rem;
    z-index: 0;
}