* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

nav,footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 16px;
} 

/*--------------------*/
/* Header */

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 1440px;
    min-height: 100%;
}
.header {
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 163px;
    position: relative;
}
.container {
    margin: 0 auto;
    padding: 5px;
}
.header__ico {
    display: flex;
    gap: 4px;
    align-items: center;
    margin: 3rem 0 8rem 0;
}
.head__ico h2 {
    color: #5282F0;
    font-family: Product Sans;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.48px;
}
.header__text h1 {
    width: 60%;
    color: var(--333333, #333);
    font-family: Lato;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.32;
    letter-spacing: 1.08px;
    margin-bottom: 30px;
}
.header__text p {
    color: var(--4-f-4-f-4-f, #4F4F4F);
    font-family: Lato;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.44;
    width: 45%;
    margin-bottom: 50px;
}
.head__img {
    position: absolute;
    top: 0;
    right: -290px;
}
.head__link a {
    margin-right: 15px;
}

.main__section-1 {
    width: 1440px;
    height: 592px;
    margin-top: 109px;
    background: url("./img/sect1_bg.png") bottom left no-repeat;
    
}

.container_bg {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%) , rgba(255, 255, 255, 0.50);
    }

.container_bg {
    display: flex;
    justify-content: space-between;
    gap: 20%;
    position: relative;
    padding-top: 7rem;
}

.container_video {
    
    width: 797px;
    gap: 5rem;
}

.clubs {
    padding-left: 10px;
    width: 360px;
    height: 218.057px;
    flex-shrink: 0;
    position: inherit;
    margin-left: 163px ;
    border-radius: 4px;
    background: #FFF;
    z-index: 1;
    box-shadow: -22.04164695739746px 23.878454208374023px 48.9814453125px 0px rgba(0, 0, 0, 0.50);  
    

}

.clubs p, h3 {
    padding-left: 15.74px;
    padding-top: 27.26px;
    gap: 13px;

}
.what {
    color: var(--brand-colour, #00ADEE);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%; 

}
.clubs p {
    color: #4F4F4F;
    font-family: Lato;
    font-size: 16.783px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%; 
}   

.clubs h3 {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%; 
}

.friendly  {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%; 
}

.clubs__icons-fc {
    position: relative;
}

.clubs__arsenalfc {
    position:absolute;
    top: -132px;
    right: 78px;
}

.clubs__chelseafc {
    position: absolute;
    top: -129px;
    right: 9px;
}

.turn_notification {
    margin: 10px;
}

.turn_notification_label {
    margin-right: 33px;
}

.main-1 {
    color: var(--333333, #333);
    font-family: Lato;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.32;
    margin-bottom: 27px;
}

.main-text-1 {
    color: var(--4-f-4-f-4-f, #4F4F4F);
    font-family: Lato;
    font-weight: 400;
    line-height: 1.44;
    margin-bottom: 22px;
}

.anchor {
    color: var(--brand-colour, #00ADEE);
    font-family: Lato;
    font-weight: 700;
    line-height: 1.32;
    margin-bottom: 171px;
}

.ft-match {
    position: absolute;
    top: 283px;
    left: 19.599999999999994rem;
    z-index: 0;
}

.section-2_head {
    color: var(--333333, #333);
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%; 
    margin-bottom: 27px;
    margin-left: 0px;
}

.main__section-2 {
    height: 100%;
    margin-bottom: 76px;
}

.main__section-2 .container {
    margin-left: 162px;
    display: flex;
    flex-wrap: nowrap;
    background-image: url(./img/phone\ background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.main__section-2 .paragraph {
    color: var(--4-f-4-f-4-f, #4F4F4F);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    width: 480px;
    margin-bottom: 30px;

}

.get {
    color: var(--brand-colour, #00ADEE);
    font-family: Lato;
    font-weight: 700;
    line-height: 1.32;
    margin: 217px 0 27px 15px;
}

.phone {
    margin-left: 93px;
    position: relative;
    max-width: 600px;
    max-height: 600px;
    

}

.phone__box-1 {
    max-width: 600px;
    max-height: 600px;
    border-radius: 50%;
}

.main__section-3 {
    background-image: url(./img/Section-3/Section-3_background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;
}

.section-3_header {
    padding-top: 76px;
    margin-top: 171px;
    width: 534px;
    margin-left: 465px;
    color: var(--ffffff, #FFF);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 54px;
    
}

.container__two {
    margin-left: 163px;
    max-width: 1113px;
    display: flex;
    flex-wrap: wrap;
    gap:90px;

    
    
}

.container_two-block {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-weight: 400;
    width: 311px;
}

.container_two-block img {
    margin-top: 2px;
    margin-bottom: 11px;
    margin-left: 5px;
}

.main__section-4 {
    
}

.container-slider {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    max-height: 100vh;
    margin-top: 68px;
    justify-content: center;
}

.slider_header > h3 {
    color: var(--333333, #333);
    font-size: 28px;
    font-weight: 700;
}

.slider_main {
    display: inline-flex;
    position: relative;
}

.card_user {
    width: 309px;
    height: 161px;
    border-radius: 4px;
    border: 1px solid var(--828282, #828282);
    background: #FFF;
    gap: 36px;
    margin-top: 63px;
    margin-left: 36px;
}

.card_header {
    display: inline-flex;
    margin-left: 17px;
    margin-top: 15px;
}

.user_header {
    align-self: center;
    gap: 40px;
}

.card_text {
    width: 279px;
    color: var(--4-f-4-f-4-f, #4F4F4F);
    font-size: 14px;
    font-weight: 400;
    padding-left: 17px;
    font-style: normal;
    padding-top: 23px;
    padding-right: 13px;
    margin-bottom: 10px;
}



.slider_dots {
    margin-top: 47px;
}

.button_left {
    position: absolute;
    width: 47px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 50%;
    z-index: 1;
    margin-left: 260px;
    margin-top: 50px;
}

.card_header img {
    margin-right: 11px;
}

.card_header h6{
    margin-right: 87px;
    color: var(--333333, #333);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.twitter_logo {
    width: 15px;
    height: 12px;
    flex-shrink: 0;
}

.button_right {
    position: absolute;
    width: 47px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 50%;
    z-index: 1;
    margin-left: -20px;
    margin-top: 50px;
}

.slider_dots {
    margin-bottom: 44px;
}

/* Section - 5 */

.container_features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    height: 291px;
    background: #FAFAFA;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}
.features_header{
    justify-content: center;
    width: 338px;
    height: 37px;
}
.header_ft {
    color: var(--333333, #333);
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 132%; 
}

.features_items  {
    /* margin-left: 180px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}