* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

nav,footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 16px;
} 

/*--------------------*/

.container_main {
    width: 1440px;
    background-image: url(./img/background_wrapper.png);
    background-size: cover;
    /* background: linear-gradient(0deg, #0A1E27 0%, rgba(10, 30, 39, 0.40) 42.19%, rgba(10, 30, 39, 0.00) 68.23%); */
}

/* Header */
.header {
    background-image: url(./img/adventure01.png); 
    background-repeat: no-repeat;
    height: 1446px;
}

h1 {
    color: #FFF;
    font-family: Major Mono Display;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
    padding-top: 28px;
    padding-left: 92px;
    margin-bottom: 188px;
}
.adv_header {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px; 
    margin-left: 91px;
    margin-bottom: 8px;
}
.life {
    color: #D3BA74;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: 4.8px;
    margin-left: 93px;
    margin-bottom:40px;
}
.adv_lorem{
    width: 513px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-left: 91px;
    margin-bottom: 40px;
}
.button {
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);
    margin-left: 92px;
}

/* Section 01 */

.section_01{
    margin-bottom: 150px;
}

.explore__up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.ex_01 {
    color: rgba(255, 255, 255, 0.13);
    font-family: Poppins;
    font-size: 180px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    margin-left: 93px;
    float: left;
}
.ex_img-get {
    margin-top: 134px;
    margin-right: 5px;
    margin-left: -25px;
    width: 51px;
    height: 2px;
    background: #D3BA74;
    float: left;
}
.ex_get {
    margin-top: 125px;
    margin-left: 2px;
    margin-bottom: 12px;
    color: #D3BA74;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: 3.36px;
}
.ex_h3 {
    margin-left: -150px;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 70px;
    line-height: 70px; 
}
.ex_text {
    margin-left: 278px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
}
.explore__up-right{
    margin-right: 92px;
}
.explore__down {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Section 02 */
.container__main-02{
    display: flex;
    margin-bottom: 150px;
    
}
.dont__left {
    margin-left: 92px;
    margin-right: 20px;
}
.dont__right {
    /* margin-right: 113px; */
}
.dont_02 {
    color: rgba(255, 255, 255, 0.13);
    font-family: Poppins;
    font-size: 180px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    float: left; 
}
.dont_hiking {
    margin-top: 125px;
    margin-bottom: 12px;
    color: #D3BA74;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 3.36px;
}
.dont_h3 {
    margin-bottom: 30px;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; 
}
.dont_text {
    margin-left: 219px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
}

/* Section 03 */

.section_03{
    margin-bottom: 150px;
}

.open__up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.open_03 {
    color: rgba(255, 255, 255, 0.13);
    font-family: Poppins;
    font-size: 180px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    margin-left: 93px;
    float: left;
}
.open_img-window {
    margin-top: 134px;
    margin-right: 5px;
    margin-left: -25px;
    width: 51px;
    height: 2px;
    background: #D3BA74;
    float: left;
}
.open_window {
    margin-top: 125px;
    margin-left: 2px;
    margin-bottom: 12px;
    color: #D3BA74;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: 3.36px;
}
.open_h3 {
    margin-left: -150px;
    margin-bottom: 20px;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 70px;
    line-height: 70px; 
}
.open_text {
    margin-left: 278px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
}
.open__up-right{
    margin-right: 92px;
}
.open__down {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Section Visiters */

.container_visiters{
    margin-left: 217px;
    margin-bottom: 131px;
    display: inline-flex;
    align-items: flex-start;
    gap: 100px;
}
.num {
    color: rgba(255, 255, 255, 0.13);
    font-family: Poppins;
    font-size: 100px;
    font-style: normal;
    font-weight: 600;
    line-height: 110px;
}
.num_text {
    color: #D3BA74;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; 
    letter-spacing: 3.36px;
}

/* Line 1 */

.section_longline{
    margin-left: 92px;
    margin-bottom: 80px;
    width: 1256px;
    height: 1px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.20);
}

/* Explore More */

.section_explore-more {
    display: flex;
}
.explore__more-left {
    margin-left: 92px;
}
.explore__more-right {
    margin-left: 126px;
    margin-right: 92px;
    margin-bottom: 80px;
}
.explore_more {
    margin-bottom: 12px;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px; 
}
.explore_more-text {
    margin-bottom: 64px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; 
}
.button_2 {
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

/* Line 2 */

.section_longline-2 {
    margin-left: 92px;
    margin-bottom: 45px;
    width: 1256px;
    height: 1px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.20);
}

/* Footer */

.container_footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 94px;
}
.linkedin_logo {
    margin-left: 44px;
}
.instagram_logo {
    margin-left: 44px;
}
.twitter_logo {
    margin-left: 44px;
}
