* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1070px;
    margin: 0 auto;

}

.header {
    padding: 95px 0px 95px;
    background-color: #ED4C5C;
}

.header_box_1 {
    max-width: 445px;
    float: left;
    display: inline; 
    
}

.header__title {
    color: #FFF;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 24px;  
}

.header__text {
    color: #FFF;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 40px;
}

.logo_apple {
    margin-left: 23px;
}

.logo_windows {
    margin-left: 23px;
}

.header_box_2 {
    max-width: 544px;
    margin-left: auto;   
}

.header_box_inner {
    height: 300px;
    position: relative;
    
}

.header_box_2_img_1 {
    position: absolute;
    opacity: 0.5;
    left: -44px;
    top: 22px;
}


.header_box_2_img_2 {
    position: absolute;
    opacity: 0.5;
    right: 44px;
    top: 22px;
} 

.header_box_2_img_3 {
    position: absolute;

}  
 
.contact {
    padding-top: 117px;
    /* padding-bottom: 78px; */
}

.contact_box-left {
    max-width: 445px;
    padding-bottom: 223px;
    float: left;
    margin-right: 125px;
}

.contact__title {
    margin-bottom: 71px;
}