* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1070px;
    margin: 0 auto;

}

.header {
    /* float: left; */
    /* display: inline-flex; */
    padding: 95px 0px 95px;

    background-color: #ED4C5C;
}

.header_box_1 {
    max-width: 445px;
    
}

.header__title {
    color: #FFF;
    font-size: 36px;
    line-height: 42px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 600;

    margin-bottom: 24px;
    
}

.header__text {
    color: #FFF;
    /* text-align: justify; */
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    margin-bottom: 40px;
}

.header_box_1_p {
    /* display: flex;
    width: 445px;
    height: 64px;
    flex-direction: column;
    flex-shrink: 0;

   
    
    margin-left: 165px; */
}

.header_box_1_img {
    /* display: flex;
    width: 134px;
    justify-content: center;
    align-items: center;
    gap: 23px;

    margin-left: 163px; */
}

.logo_google { 
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.logo_apple {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.logo_windows {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.header_box_2 {

    width: 533px;
    height: 311px;
    flex-shrink: 0;
    margin: 94px 216px 95px 80px;

}


.header_box_2_img_1 {
    position: absolute;

    opacity: 0.5;
}


.header_box_2_img_2 {
    position: absolute;

    opacity: 0.5;
} 

.header_box_2_img_3 {
    position: absolute;

} 






/* 
main {
    width: 1440px;
    height: 500px;
    flex-shrink: 0;
    background-color: #FFF;
    float: left;
    display: inline-flex;
} */

.main_box_1 {
    width: 720px;
    height: 500px;
    background: #FFF;
}

.contact h2 {
    display: flex;
    width: 445px;
    height: 107px;
    flex-direction: column;
    flex-shrink: 0;

    color: #000;
    font-size: 36px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact p {
    display: flex;
    width: 434px;
    height: 64px;
    flex-direction: column;
    flex-shrink: 0;

    color: #000;
    text-align: justify;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.main_box_2 {
    width: 720px;
    height: 500px;
    background: #FFF;
}

.main form first {
    width: 255px;
    height: 60px;
    flex-shrink: 0;

    border-radius: 6px;
    border: 1px solid var(--gray-1, #333);

    color: rgba(19, 39, 67, 0.50);
    font-size: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
/* 
footer {
    width: 1440px;
    height: 435px;
    flex-shrink: 0;
    background-color: #FAFAFA;
} */
