* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avenir', 'sans-serif';
    src: url(./fonts/AvenirLTStd-Roman.otf') format('truetype')
  }

body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFF 100%);
    width: 1600px;
    height: 4500px;
}

.container {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    margin: 0 auto;
}

.header {
    margin-top: 62px;
    display: flex;
    max-width: 1200px;
    position: relative;
    margin-bottom: 130px;
}

.section__header-logo {
    display: flex; 
    width: 49px;
    height: 35px;
    align-items: center;
    flex-shrink: 0;
}

.section__header-menu {
    display: flex;
    margin-left: 121px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   
} 

.menu_items {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    list-style: none;
}

.about {
    width: 53px;
    height: 30px;
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%;
}

.help,
.futures,
.signup {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
}

.section__header-menu-main {
    display: flex;
    justify-content: space-between;
}

.section__header-button {
    margin-left: 418px;
    align-items: center;
    max-width: 210px;
    max-height: 60px;
}

.request {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%;
    letter-spacing: 0.08px;
}

.request:hover {
    background-color: #F063B8;
    color: #F6FAFD;
    transition: all 0.3s ease-in-out 0s;
}

/* Main start */

.text_header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
}

.text_header h1 {
    max-width: 645px;
    color: var(--2, #212353);
    font-family: Helvetica;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    padding: 5px;
}

.text_header p {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    max-width: 380px;
    padding: 5px;
}

.text_header a {
    max-width: 170px;
    height: 60px;
    border-radius: 50px;
    background: var(--3, #9C69E2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%;
    padding: 5px;
}

.header_img {
    max-width: 885px;
    max-height: 468px;
    position: absolute;
    margin-top: 96px;
    margin-left: 360px;
    flex-shrink: 0;
    z-index: -1;
}

/* Section Storage */

.section__main-1 {
    margin-bottom: 100px;
}

.storage {
    display: flex;
    border-radius: 50px;
    background: rgba(240, 99, 184, 0.15);
    gap: 60px;
    align-items: center;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.storage img {
    width: 477px;
    height: 504px;
}

.storage_text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.storage_text h2 {
    color: #212353;
    max-width: 475px;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
}

.storage_text p {
    max-width: 474px;
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

/* Section Features */

.features {
    margin-bottom: 149.82px;
}

.features h2 {
    color: #212353;
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
}

.text_features {
    max-width: 584px;
    margin: 50px auto 149px;
    text-align: center;

    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

/* Section cards */

.cards {
    display: flex;
    gap: 90px;
    justify-content: center;
    flex-wrap: wrap;
}

.features_cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.features p {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    max-width: 220px;
}

.features h3 {
    color: #212353;
    font-family: Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.text_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.text_cards a {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: 0.08px;
    text-align: center;

}

.link {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cards_img {
    align-self: center;
}

/* Testimonials */

.testimonials {
    display: flex;
    flex-direction: column;

    border-radius: 50px;
    background: var(--3, #9C69E2);
    
    justify-content: space-between;
    padding: 109px 76px 60px 93px;
    gap: 60px;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

.testimonials h3 {
    color: #FFF;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 28px;
}

.fang {
    display: flex;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 20px 0px 0px rgb(60 32 98 / 30%);
    max-width: 949px;
    padding: 60px 102px 60px;
    
    gap: 44px;
    flex-wrap: wrap;
}

.text_testimonials h4 {
    color: var(--2, #212353);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: 0.09px;
    padding-top: 25px;
}

.text_testimonials a {
    color: var(--3, #9C69E2);
    font-family: Avenir;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.14px;

}

.text_testimonials p {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 400;
    line-height: 180%;
    max-width: 430px;
    padding-top: 19px;
}

.fang img {
    width: 132.419px;
    height: 90px;
    border-radius: 132.419px;
}

.controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.arrow_control {
    align-self: end;
}

.arrows img {
    padding-left: 20px;
}

.arrows .arrow_control {
    width: 40px;
    height: 14px;
}

.arrows .arrowr2 {
    width: 33px;
    height: 14px;
}

/* Footer */

.footer {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFF 100%);
    padding: 100px 0;
}

.container_footer {
    display: flex;
    flex-direction: column;

}

.footer_section_1 {
    display: flex;
    justify-content: space-between;
    width: 1200px; 
    margin: 0;
}

.try_for {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
    height: 101px; 
}

.buttons {
     display: flex; 
    align-self: center;
    align-items: flex-end;
    gap: 30px;
    flex-wrap: wrap;
    /* justify-content: center; */
    margin-left: auto;
   
}

.buttons a {
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background: var(--3, #9C69E2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 160%;
    padding: 5px;
}


.try_for h3 {
    color: #212353;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.try_for p {
    color: var(--1, #4B5D68);
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.buttons .pink_button {
    border-radius: 50px;
    background: var(--4, #F063B8);
}

.footer_section_2 {
    display: flex;
    width: 1200px; 
    margin-top: 150px;
}

.data {
    display: flex;
    width: 335px;
}

.data_img {
    display: flex;
    width: 222px; 
    gap: 20px;
    flex-wrap: wrap;
} 

.head_data {
    /* margin-top: auto;
    margin-bottom: 0px; */
}
 
.logo_footer {
    margin-left: 0px;
    margin-right: auto;
} 
